{% extends 'app_users/base.html' %}
{% block body %}
<div class="container py-5" style="text-align: center;">
    {% if request.user.is_authenticated %}
    <h4 style="color: green;">You are already logged in.</h4>
    {% else %}
    <h4 style="margin-bottom: -40px;"><b>Login</b></h4>
    <div class="flex items-center justify-center">
        <form method="POST" class="bg-white shadow-md m-10 w-1/3 rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            <div class="mb-2">
                <label style="text-align: center;" class="block text-gray-700 text-sm font-bold mb-2" for="username">Username: </label>
                <span>{{ form.username }}</span>
                <label style="text-align: center;" class="block text-gray-700 text-sm font-bold mb-2" for="password">Password: </label>
                <sapn>{{ form.password }}</span>
            </div>
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
    <a href="{% url 'password_reset' %}">Forgot password? Click here to <button type="submit" class="button">Reset Password</button></a>
    {% endif %}
</div>
{% endblock %}