{% extends 'app_users/base.html' %}
{% block body %}
<div class="container py-5" style="text-align: center;">
    <h4 style="margin-bottom: -30px;"><b>Create a new post</b></h4>
    <div class="flex items-center justify-center">
        <form method="POST" class="bg-white shadow-md m-10 w-1/3 rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            <div class="mb-2">
                <label style="text-align: center;" class="block text-gray-700 text-sm font-bold mb-2" for="username">Title: </label>
                <span>{{ form.title }}</span>
		        <label style="text-align: center;" class="block text-gray-700 text-sm font-bold mb-2" for="username">Image: </label>
                <span>{{ form.image }}</span>
		        <label style="text-align: center;" class="block text-gray-700 text-sm font-bold mb-2" for="username">Caption: </label>
                <span>{{ form.caption }}</span>
            </div>
            <button type="submit" class="button">Post</button>
        </form>
    </div>
</div>
{% endblock %}